
<!-- Section -->
<section class="hero is-small is-link"></section>
{{!-- <div class="tile is-ancestor is-justify-content-center m-6 p-6"> --}}
  {{!-- <div class="tile is-6 is-vertical is-parent"> --}}
    <div class="hero-body">
    <div id="tile" class="tile is-child box has-text-centered">
      <p class="title p-3">Unleash Your Literary Journey, One Book at a Time!</p>
      <img src="/images/logo_transparent.png" style="width: 300px">
      <p class="subtitle is-5">BookMark is more than just a log of books; it's a place to share your personal reflections, insights, and
        connections.</p>
      <p class="subtitle is-5">Beyond tracking your own literary endeavors, we hope this space serves as a source of inspiration
        for fellow bookworms, avid readers, and those seeking their next great literary escape!</p>
      <div class="is-flex is-justify-content-center p-5">
        {{!-- <figure class="image is-128x128"> --}}
        </figure>
      </div>
    {{!-- </div> --}}
  {{!-- </div> --}}
  </div>
  </section>
{{!-- </div> --}}
