<div class="columns is-centered">
  <div class="column is-one-third has-text-centered">
    <!-- Image Logo -->
    <img src="/images/logo_transparent.png" style="height: 220px; width: 220px; margin-bottom: 20px;" alt="Logo">
    <div class="box has-text-centered">
      <p class="title">Log in</p>
      <form class="form login-form">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" placeholder="Email" id="email-login">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" placeholder="Password" id="password-login">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <div class="form-group">
            <button class="button is-light" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--JS Script for login-->
<script src="./js/login.js"></script>